hostname: "sebamac"
agda_libs_dir: "{{ home_dir }}/.agda-libs"
asdf_dir: "/usr/local/opt/asdf" # Linux: {{ home_dir }}/.asdf | OSX: /usr/local/opt/asdf
erlang_version: "20.1"
erlang_installation_dir: "{{ asdf_dir }}/installs/erlang/{{ erlang_version }}"
work_dir: "{{ home_dir }}/work"
irc_logs_directory: "{{ home_dir }}/.logs"
repositories: []
