if [ -f /etc/bashrc ]
then
  source /etc/bashrc
fi

# Lang
export LANG=en_US.UTF-8

# Default PATH
PATH=$HOME/.bin:$PATH:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/X11/bin

# Prompt
if [ $INSIDE_EMACS ]; then
  SEPARATOR="->";
else
  SEPARATOR="➜";
fi

if [[ -t 1 ]]; then
  export PS1="\[$(tput bold)\]\[$(tput setaf 5)\]$SEPARATOR \[$(tput setaf 6)\]\w\[$(tput setaf 3)\] \$(parse_git_branch)\[$(tput sgr0)\]"
fi

# Add less viewer some options by default
export LESS='-i-r-P%f(%i/%m) Line %lt/%L'

# `history` command size is too small. Making it bigger.
# Maximum number of events saved during a session:
export HISTSIZE=1000000
# Maximum number of events saved between sessions:
export HISTFILESIZE=1000000000
shopt -s histappend

# My Bash aliases
alias grep='GREP_COLOR="1;37;41" LANG=C grep --color=auto'
alias ls='ls -F'
alias ll='ls -l'

# Display git branch name on bash
parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/git:(\1) /'
}

# Allow GPG when using tty
export GPG_TTY=$(tty)

# Disable the OSX zsh warning
export BASH_SILENCE_DEPRECATION_WARNING=1

# Use Documents directory for pass keys
export PASSWORD_STORE_DIR=$HOME/Documents/.password-store
