<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>favoriteitems</key>
	<dict>
		<key>Controller</key>
		<string>CustomListItems</string>
		<key>CustomListItems</key>
		<array>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.SpecialItemIdentifier</key>
					<string>com.apple.LSSharedFileList.IsMeetingRoom</string>
				</dict>
				<key>Name</key>
				<string>domain-AirDrop</string>
				<key>URL</key>
				<string>nwnode://domain-AirDrop</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACUAAMAAQAAz9QqxgAASCsAAAAAAAAAAgAAAFEA
				AM3BhCEAAAAACSD//gAAAAAAAAAA/////wABAAAADgAa
				AAwAQQBwAHAAbABpAGMAYQB0AGkAbwBuAHMADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAMQXBwbGlj
				YXRpb25zABMAAS8A//8AAA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAc3BwYQIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819120</integer>
				</dict>
				<key>Name</key>
				<string>Applications</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACkAAMAAQAAz9QqxgAASCsAAAAAAAk4SwAJOMgA
				AM/ULTUAAAAACSD//gAAAAAAAAAA/////wABAAgACThL
				AAJm+QAOABAABwBEAGUAcwBrAHQAbwBwAA8AGgAMAE0A
				YQBjAGkAbgB0AG8AcwBoACAASABEABIAF1VzZXJzL3Ni
				b3JyYXphcy9EZXNrdG9wAAATAAEvAAAVAAIAEP//AAA=
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAa3NlZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819892</integer>
				</dict>
				<key>Name</key>
				<string>Desktop</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACqAAMAAQAAz9QqxgAASCsAAAAAAAk4SwAJOEwA
				AM/ULTUAAAAACSD//gAAAAAAAAAA/////wABAAgACThL
				AAJm+QAOABQACQBEAG8AYwB1AG0AZQBuAHQAcwAPABoA
				DABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAASABlVc2Vy
				cy9zYm9ycmF6YXMvRG9jdW1lbnRzAAATAAEvAAAVAAIA
				EP//AAA=
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAc2NvZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819875</integer>
				</dict>
				<key>Name</key>
				<string>Documents</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACqAAMAAQAAz9QqxgAASCsAAAAAAAk4SwAJOE4A
				AM/ULTUAAAAACSD//gAAAAAAAAAA/////wABAAgACThL
				AAJm+QAOABQACQBEAG8AdwBuAGwAbwBhAGQAcwAPABoA
				DABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAASABlVc2Vy
				cy9zYm9ycmF6YXMvRG93bmxvYWRzAAATAAEvAAAVAAIA
				EP//AAA=
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAZm53ZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819884</integer>
				</dict>
				<key>Name</key>
				<string>Downloads</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACmAAMAAQAAz9QqxgAASCsAAAAAAAk4SwAJOPQA
				AM/ULTUAAAAACSD//gAAAAAAAAAA/////wABAAgACThL
				AAJm+QAOABIACABQAGkAYwB0AHUAcgBlAHMADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAYVXNlcnMv
				c2JvcnJhemFzL1BpY3R1cmVzABMAAS8AABUAAgAQ//8A
				AA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAxHJvbQIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935822947</integer>
				</dict>
				<key>Name</key>
				<string>Pictures</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACcAAMAAQAAz9QqxgAASCsAAAAAAAJm+QAJOEsA
				ANEdupcAAAAACSD//gAAAAAAAAAA/////wABAAQAAmb5
				AA4AFAAJAHMAYgBvAHIAcgBhAHoAYQBzAA8AGgAMAE0A
				YQBjAGkAbgB0AG8AcwBoACAASABEABIAD1VzZXJzL3Ni
				b3JyYXphcwAAEwABLwAAFQACABD//wAA
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAZGxmdQIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935820909</integer>
				</dict>
				<key>Name</key>
				<string>sborrazas</string>
			</dict>
		</array>
		<key>CustomListProperties</key>
		<dict>
			<key>com.apple.LSSharedFileList.Restricted.upgraded</key>
			<integer>9027</integer>
		</dict>
	</dict>
	<key>finderprojects</key>
	<dict>
		<key>Controller</key>
		<string>CustomListItems</string>
		<key>CustomListItems</key>
		<array>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>6</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Red</string>
				<key>URL</key>
				<string>x-apple-findertag:Red</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>7</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Orange</string>
				<key>URL</key>
				<string>x-apple-findertag:Orange</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>5</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Yellow</string>
				<key>URL</key>
				<string>x-apple-findertag:Yellow</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>2</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Green</string>
				<key>URL</key>
				<string>x-apple-findertag:Green</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>4</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Blue</string>
				<key>URL</key>
				<string>x-apple-findertag:Blue</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>1</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Gray</string>
				<key>URL</key>
				<string>x-apple-findertag:Gray</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Work</string>
				<key>URL</key>
				<string>x-apple-findertag:Work</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Home</string>
				<key>URL</key>
				<string>x-apple-findertag:Home</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<true/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Flags</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Important</string>
				<key>URL</key>
				<string>x-apple-findertag:Important</string>
			</dict>
		</array>
		<key>CustomListProperties</key>
		<dict>
			<key>Version</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>systemitems</key>
	<dict>
		<key>Controller</key>
		<string>VolumesList</string>
		<key>CustomListProperties</key>
		<dict>
			<key>com.apple.LSSharedFileList.VolumesListMigrated</key>
			<true/>
		</dict>
		<key>ShowEjectables</key>
		<true/>
		<key>ShowHardDisks</key>
		<true/>
		<key>ShowRemovable</key>
		<true/>
		<key>ShowServers</key>
		<true/>
		<key>VolumesList</key>
		<array>
			<dict>
				<key>EntryType</key>
				<integer>16</integer>
				<key>Name</key>
				<string>Computer</string>
				<key>SpecialID</key>
				<integer>1919905652</integer>
				<key>Visibility</key>
				<string>NeverVisible</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACIAAMAAQAAz9QqxgAASCsAAAAAAAAAAQAAAAIA
				AM/UKsYAAAAACSD//gAAAAAAAAAA/////wABAAAADgAa
				AAwATQBhAGMAaQBuAHQAbwBzAGgAIABIAEQADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAAABMAAS8A
				//8AAA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.SeenAsBootVolume</key>
					<true/>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935821166</integer>
				</dict>
				<key>EntryType</key>
				<integer>261</integer>
				<key>Name</key>
				<string>Macintosh HD</string>
				<key>Visibility</key>
				<string>NeverVisible</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACGAAMAAQAAz9QqxgAASCsAAAAAAAAAAgAEA5sA
				AM4+/T8AAAAACSD//gAAAAAAAAAA/////wABAAAADgAQ
				AAcATgBlAHQAdwBvAHIAawAPABoADABNAGEAYwBpAG4A
				dABvAHMAaAAgAEgARAASAAdOZXR3b3JrAAATAAEvAP//
				AAA=
				</data>
				<key>EntryType</key>
				<integer>16</integer>
				<key>Name</key>
				<string>Network</string>
				<key>SpecialID</key>
				<integer>1735288180</integer>
				<key>Visibility</key>
				<string>NeverVisible</string>
			</dict>
			<dict>
				<key>EntryType</key>
				<integer>1040</integer>
				<key>Name</key>
				<string>Remote Disc</string>
				<key>SpecialID</key>
				<integer>1919185771</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
